::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	background-color: #CCCCCC;
}
::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #313131;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent)
}
.magus-img-title {
    width: 50%;
    max-width: 750px;
}
.main-background{
  background-image: url("../main-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.info-box{
    box-shadow: 0 0 20px grey;
    background-image: linear-gradient(to right, rgba(10, 10, 10, 0.75), rgb(43, 43, 43, 0.75) 98%);
    border: solid 4px rgb(37, 36, 22);
    border-radius: 5px;
}
.info-box:hover{
    background-image: linear-gradient(to right, rgba(10, 10, 10, 0.9), rgba(22, 22, 22, 0.9) 98%);
}
.custom-button{
    border: 0px;
    background-color: rgb(255, 189, 7);
}
.custom-button:hover{
    background-color: rgba(39, 39, 39, 0.938);
    background-image: linear-gradient(to right, rgba(10, 10, 10, 0.75), rgb(43, 43, 43, 0.75) 90%);
    color: white;
    text-shadow: 0 0 15px #000000, 0 0 5px #fbff00;
}
.custom-button:disabled{
    background-color: rgba(39, 39, 39, 0);
    background-image: linear-gradient(to right, rgba(10, 10, 10, 0.4), rgb(43, 43, 43, 0.2) 90%);
    color: white;
    text-shadow: 0 0 15px #000000, 0 0 5px #fbff00;
}
.main-div {
    margin-left: 55px;
    margin-right: 30px;
}
.shining-text{
    text-shadow: 0 0 15px #000000, 0 0 5px #fbff00;
}
.shadowed-text{
    text-shadow: 0 0 15px #000000;
}
.main-title{
    font-size: 7rem;
    font-weight: 730;
}
.icon-sized {
    width: 40px;
    height: 40px;
}
h1, h2, h3 {
    font-weight: 700;
}
.yellow-text{
    color: rgb(212, 172, 13);
}


/* For Mobile */
@media screen and (max-width: 767px) {
    #home-icon{
        height: 50px;
        width: auto;
    }
    .main-div {
        margin-left: 35px;
        margin-right: 20px;
    }
    .icon-sized {
        width: 30px;
        height: 30px;
    }
    .main-title{
        font-size: 3rem;
    }
}
